[Unit]
Description=Gunicorn instance to server filestorage
After=network.target

[Service]
user=username
Group=www-data
WorkingDirectory=/home/username/filestorage
Environment="PATH=/home/username/filestorage/filestorageenv/bin"
ExecStart=/home/username/filestorage/filestorageenv/bin/gunicorn -w 2 -b 0.0.0.0:8080 wsgi:app

[Install]
WantedBy=multi-user.target
